<p id="notice"><%= notice %></p>

<h1>
  <%= @team.city_nickname %>
</h1>

<p>
  <strong>Colors:</strong>
  <%= @team.colors %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>
<p>


<p>
  <strong>Players:</strong>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Positions</th>
      </tr>
    </thead>
    <tbody>
      <% @team.players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player, :target => '_blank'  %></td>
        <td><%= player.number %></td>
        <td>
          <% player.positions.each do |position| %>
            <%= position.code %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>
  
<p>
  <strong>Logo:</strong>
  <br>
  <%= image_tag @team.image %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
