<p id="notice"><%= notice %></p>

<h1>
  <%= @player.full_name %>
</h1>

<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team.city_nickname %>
</p>

<p>
  <strong>Positions:</strong>
  <% @player.positions.each do |position| %>
    <%= position.code %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
